<h1>Recent Changes</h1>

<%= will_paginate @changes %>

<ul>
  <%- @changes.each do |change| -%>
    <li>
      <%= change.short_message %>
      <%- change.show.select{|diff| !diff.diff.include?('body.txt')}.each do |diff| -%>
        <%= format_diff diff.diff %>
      <%- end -%>
    </li>
  <%- end -%>
</ul>

<%= will_paginate @changes %>

<% side_block do %>
  <ul>
    <li><%= link_to 'Create new page', new_page_path %></li>
    <li><%= link_to 'Main page', root_path %></li>
    <li><%= link_to 'View the list of all pages', pages_path %></li>
    <li><%= link_to 'Recent Changes', changes_path %></li>
  </ul>
<% end %>
